.home-context div
    margin: 20px 0

.photographer
    display: block

.camera
    display: none

@media (max-width: 1280px)
    .home-context
        margin: 40px
    
    .camera
        display: block
        width: calc(100% - 40px)
    
    .photographer
        display: none