@import https://fonts.googleapis.com/css2?family=Poppins&display=swap
// font stuff
$smtext: 18px
$mdtext: 24px
$lgtext: 36px
$fontfam: 'Poppins', sans-serif

// Color

$cyan: #4DCCBD
$ligth-cyan: #D6FFF6
$red: #FF8484
$blue: #2374AB
$purple: #231651


html, body
    background-color: $purple
    font-family: $fontfam
