@import "./meta"

.tuner-page
    height: calc(100vh - 16px) 
    padding: 0px
    border: 0px
    
.holder
    overflow-y: scroll
    height: 1000px

.max-height
    height:100%

.tuner-header
    height: 10%
    background-color: white
    color: $highlight-dark
    padding: 0 15px

.tuner-body
    height: 90%

.tuner-shelf
    height: 100%
    border-left: 5px solid #2374AB
    overflow: hidden

.max-width
    width: 100%

.sidebar-tuner
    width: 50vw